{% extends 'signup.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container text-center my-4">
  <h1>Welcome to the Plant Disease Detection System!</h1>
</div>

<div class="container content-container">
  <div class="row align-items-center my-5">
    <!-- First Section -->
    <div class="col-md-6 text-center">
      <img src="static/upload/search.jpg" alt="Farmer" class="static-image img-fluid rounded" style="max-width: 400px; height: auto;">
    </div>
    <div class="col-md-6">
      <h6 class="text-start">
        Our advanced system is meticulously designed to assist farmers, gardeners, and plant enthusiasts in accurately identifying a wide range of plant diseases using cutting-edge machine learning technology. By leveraging our platform, users can effortlessly upload high-quality images of their plants and receive detailed and precise diagnostic information about any diseases that may be present. Beyond detection, our system also offers insights into effective remedies and preventative measures to ensure the long-term health and productivity of plants. This innovative tool aims to make disease identification accessible, efficient, and reliable for everyone, from small-scale gardeners to large agricultural professionals.    </div>
  </div>

  <div class="row align-items-center my-5">
    <!-- Second Section -->
    <div class="col-md-6 text-center">
      <img src="static/upload/farmer.jpg" alt="Farmer" class="static-image img-fluid rounded" style="max-width: 400px; height: auto;">
    </div>
    <div class="col-md-6">
      <h6 class="text-start">
        Our project aims to empower farmers across the country by providing a free and accessible platform to monitor the health of their plants and crops. Through our advanced technology, users can quickly identify plant diseases and receive detailed guidance on how to address them effectively. In addition, we are committed to supporting the agricultural community by offering free supplements and resources to help farmers nurture their plants back to health, ensuring sustainable growth and improved yields. Our goal is to create a reliable system that bridges the gap between technology and traditional farming practices, fostering a better future for agriculture.      </h6>
    </div>
  </div>
</div>
{% endblock %}
